* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: ease 0.8s;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}

main {
    background-color: rgb(223, 223, 223);
    width: 390px;
    min-height: 844px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 50px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 10%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 2;
    position: absolute;
    width: 390px;
    top: 0;
}

img {
    height: 85px;
}

.FindWork {
    position: fixed;
    bottom: 50px;
    right: 35px;
    border: none;
    font-size: 25px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    cursor: pointer;
}
.IpFindWork{
    border: none;
    outline: none;
    text-align: center;
    font-size: 25px;
    width: 90%;
    border-radius: 15px;
    height: 35px;
    display: none;
}

.menu {
    height: 50px;
    width: 50px;
    font-size: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.SelectMenu {
    background-color: white;
    position: absolute;
    z-index: -2;
    width: 250px;
    border-radius: 15px;
    left: 110px;
    top: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.sectionButton {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: solid 1px rgb(206, 206, 206);
}

.sectionButton a {
    font-size: 20px;
    cursor: pointer;
    text-decoration-line: none;
    color: black;
}

.sectionUl {
    margin-top: 12px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.sectionLi {
    font-size: 30px;
    border-bottom: solid 1px rgb(206, 206, 206);
    padding-left: 20px;
}

.sectionLi a {
    color: black;
    text-decoration-line: none;
}

.sectionList {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 70px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.maskOpen {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 3;
    opacity: 1;
    transition: ease 2s;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 390px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.29) 15%,
            rgba(10, 12, 16, 0.15) 50%, rgba(10, 12, 16, 0.29) 85%);
    display: none;
}



.form {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    position: fixed;
}

.mask2 {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 390px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.29) 15%,
            rgba(10, 12, 16, 0.15) 50%, rgba(10, 12, 16, 0.29) 85%);
    display: none;
}

.form2 {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    position: fixed;
}

.formBoxPrincipal {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-bottom: 15px;
}

.formImage {
    font-size: 65px;
    height: 130px;
    width: 130px;
    border-radius: 10px;
    background-color: rgb(196, 196, 196);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forminputs {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.forminput1 {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    width: 140px;
    text-align: center;
    font-size: 20px;
}

.forminput2 {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    width: 140px;
    text-align: center;
    font-size: 20px;
}

.forminput3 {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    font-size: 20px;
    padding-left: 5px;
    width: 180px;
}

.forminput4 {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    font-size: 20px;
    padding-left: 5px;
    width: 180px;
}

.formwork1 {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    width: 140px;
    text-align: center;
    font-size: 20px;
}

.formwork2 {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    width: 140px;
    text-align: center;
    font-size: 20px;
}

.formwork3 {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    font-size: 20px;
    padding-left: 5px;
    width: 180px;
}

.formwork4 {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    font-size: 20px;
    padding-left: 5px;
    width: 180px;
}

.formButtons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.formBack {
    font-size: 30px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.formBack2 {
    font-size: 30px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.formCheck {
    font-size: 30px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.formCheck2 {
    font-size: 30px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.formCreate {
    font-size: 30px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.formObs {
    outline: none;
    font-size: 22px;
    border-radius: 10px;
    border: solid 1px rgb(204, 204, 204);
}

.workObs {
    outline: none;
    font-size: 22px;
    border-radius: 10px;
    border: solid 1px rgb(204, 204, 204);

}

.done {
    display: flex;
    height: 110px;
    width: 310px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(160, 160, 160);
    cursor: pointer;
    background-color: #fffd9e;
    border-radius: 10px
}

.BoxWork {
    display: flex;
    height: 110px;
    width: 350px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(160, 160, 160);
    cursor: pointer;
    margin-top: 10px;
}

.image-camera {
    height: 70px;
    width: 70px;
    font-size: 45px;
    border-radius: 10px;
    background-color: rgb(196, 196, 196);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-principal {
    display: flex;
    gap: 5px;
}

.box-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.idone {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    width: 120px;
    text-align: center;
    font-size: 20px;
    background-color: #fffd9e;
}

.Client-input {
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(116, 116, 116);
    width: 120px;
    text-align: center;
    font-size: 20px;
}

.trash {
    height: 40px;
    width: 40px;
    font-size: 30px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sectionAdd {
    width: 100%;
    height: 70px;
}

.AddButton {
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 50px;
    display: block;
    margin: 12px auto;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    cursor: pointer;
}

@media screen and (width: 390px) and (min-height: 844px) {
    main {
        min-height: 100%;
        width: 100%;
    }

    header {
        position: fixed;
    }

    .SelectMenu {
        position: fixed;
    }
}